In [3]:
# exo2_1
a = int(input('Entrez un premier nombre : '))
b = int(input('Entrez un deuxième nombre : '))
if a>0 and b>0:
    print ("le produit est positif")
elif a<0 and b<0:
    print ("le produit est positif")
else:
    print ("le produit est négatif")

Entrez un premier nombre : 3
Entrez un deuxième nombre : -5
le produit est négatif

In [4]:
# exo2_3
tab = [0, 1, 2, 3, 8, 9]
j=0
for i in tab:
    j=j+i

print("la somme de tout les elements du tableau est égale à ", j)

la somme de tout les elements du tableau est égale à  23

In [5]:
# exo2_2
a = int(input('Entrez un nombre : '))
a=a+1
i = 1
j=0
for i in range(a):
    j=j+i

print (j)

Entrez un nombre : 5
15

In [4]:
# exo2_7
tab1 = [0, 1, 2, 3, 8, 9]
tab2 = [0, 1, 2, 3, 8, 9]
tab3 = []

j=0
for i in range(int(str(len(tab1)))):
    tab3.append(tab1[i] * tab2[i])
    j=j+tab3[i]


print (tab3)

159
[0, 1, 4, 9, 64, 81]

In [1]:
# exo2_5
tab = []
a = 0
j=0
q = input ("Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : ")
if q=="y":
    while q=="y":
    
        a = int(input("Ajouter une valeur au tableau : "))
        tab.append(a)
        
        if a>j:
            j = a
            p = len(tab)-1
        q = input ("Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : ")
    print (j, "a la position", p)
    print(tab)
else:
    print("jeu terminé !")

Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 3
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 8
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 90
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 12
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 45
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : n
90 a la position 2
[3, 8, 90, 12, 45]

In [1]:
# exo2_6
tab = []
a = 0
c=0
c2=0
j=0
q = input ("Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : ")
if q=="y":
    while q=="y":
    
        a = int(input("Ajouter une valeur au tableau : "))
        tab.append(a)
        c2=c2+a
        c=c+1
        q = input ("Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : ")
   
    for i in tab:
        if i>(c2/c):
            j=j+1
    print (c2/c)
    print("la moyenne est de : ", c2/c, " et ", j, "éléments sont supérieurs à la moyenne")
    print(tab)
else:
    print("jeu terminé !")

Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 3
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 80
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 60
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 45
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : y
Ajouter une valeur au tableau : 13
Voulez vous ajouter un nombre ? 'y' pour oui - 'n' pour non : n
40.2
la moyenne est de :  40.2  et  3 éléments sont supérieurs à la moyenne
[3, 80, 60, 45, 13]

In [2]:
# exo2_4
tab1=[2,4,6]
tab2=[10,5,20]
x=0
for i in tab1:
    for j in tab2:
        x=x+(i*j)
        
print("result=",x)

result= 420

In [1]:
# exo2_8
tab=[7,4,9,5,2]
tab.sort()
print (tab)

[2, 4, 5, 7, 9]

In [ ]:
# exo2_9
a = int(input('Entrez un nombre : '))
j=1
for i in range(a):
    i=i+1
    j=j*i

print (j)